body {
  overflow: hidden;
}

.friends-body {
  overflow-y: scroll;
}

.friends-card {
  height: 89vh;
  margin: 1.3%;
}

.game-night {
  width: 40rem;
}

.secure-svg {
  left: 50%;
  top: 50.71%;
}

.signup-form-form {
  height: 23.4rem;
}

.login-form-form {
  height: 19rem;
}

.lost-svg {
  width: 80rem;
  min-width: 60rem;
  left: 39%;
  top: 31.71%;
}

.home-card {
  height: 70%;
  width: 50%;
}

.friends-button {
  height: 49.5%;
  img {
    left: 48%;
  }
}

.group-button {
  height: 49.25%;
}

.planner-button {
  height: 100%;
  // width: 66.66%;
}

.home-button-container {
  height: 100%;
}

.planner-card {
  top: 45%;
}

.time-planner-container {
  left: 49.8%;
  top: 47.4%;
  height: 70%;
}

.day-labels {
  height: 78%;
  left: 52%;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.days {
  padding: 4%;
  font-size: 1.3vw;
}

.hour-labels {
  text-align: right;
  left: 0%;
  background-color: transparent;
  grid-template-rows: repeat(24, minmax(0, 1fr));
}

.hour-div {
  font-size: 1.1vw;
}

.dividers {
  border: 1px solid #e6e6e6;
}

.plans {
  grid-template-columns: repeat(7, minmax(0, 1fr));
  grid-template-rows: repeat(24, minmax(0, 1fr));
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.event-name {
  font-size: 1vw;
}

.event-desc {
  font-size: 1vw;
}

.delete-button {
  scale: 0.8;
}

.save-button {
  scale: 0.7;
  font-size: 0.9vw;
}

.drawer-overlay {
  font-size: 1.8vw;
}

.new-group {
  margin-top: 10%;
}

.no-groups-img {
  width: 30%;
  opacity: 0.4;
}

.no-groups-text {
  font-size: 1.6vw;
  opacity: 0.4;
}
